/* .bubble {
  position: fixed;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 30%, #6ee7b7, #3b82f6);
  pointer-events: none;
  opacity: 0.8;
  animation: pop 1s ease-out forwards;
  z-index: 9999;
} */

.star {
  position: fixed;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 10px #00ffff, 0 0 20px rgb(15 23 42), 0 0 30px rgb(15 23 42);
  pointer-events: none;
  animation: fadeOut 1s ease-out forwards;
  z-index: 9999;
}

@keyframes fadeOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

/* @keyframes pop {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
} */
