:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(224, 232, 253);
  background-color: rgb(15 23 42);
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor:none;
}

/* light and dark */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffecc3;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  .project_cards .cards{
    background-color: rgb(15, 23, 42);
    color: #e7e8fd;
  }

  .project_cards .cards:hover{
    background-color: rgba(15, 23, 42, 0.658);
    color: #e7e8fd;
  }
}
